<%= render "layouts/header" %>
<div id="main-container">
	<div id="main" class="main main-content prompts">
		<div id="registration-form">
			<div id="fb-image"></div>
			<%= form_for @user do |f| %>

			<%= f.text_field :name, :placeholder => "Name", :id => "name" %><br />

			<%= f.hidden_field :fb_id, :id => "fb_id" %>

			<%= f.text_field :email, :placeholder => "Email", :id => "email" %><br />

			<%= f.password_field :password, :placeholder => "Password", :id => "password" %><br />

			<%= f.submit "Register" %>
			<% end %>

			<button id="fb-login-button"></button>
			<!-- <button id="twitter-login-button"></button> -->
		</div>
	</div>
</div>
