<%= render "layouts/header" %>
<div id="main-container">
	<div id="main" class="main main-content">
		<h1><%= @prompt.question %></h1>
		<% if @prompt.stories.empty? %>
		<p>No one has responded to this prompt yet. <%= link_to "Be the first.", new_story_path %></p>
		<% else %>
		<% @stories.each do |s| %>
		<div class="post <%= "audio" if s.has_audio %>">
			<% s.prepare_for_viewing! %>

			<h3><%= link_to s.title, s %><span class="author"> by <%= s.user.name %></span></h3>
			<% if s.has_audio %>
			<audio src="http://s3.amazonaws.com/natarre.objects/<%= s.token %>/<%= s.token %>.mp3" controls></audio>
			<% end %>
			<p><%= s.content %></p>
			<footer>
				<%= s.comments.size %> Comments | <%= link_to "Add a Comment", s %>
			</footer>
		</div>

		<% end %>
		<% end %>
		<p><%= link_to "Respond to this question", new_story_path+"/"+@prompt.id.to_s %></p>
	</div>
</div>
