<%= render "layouts/header" %>
<div id="main-container">
	<div id="main" class="main main-content">
		<% @story.prepare_for_viewing! %>
		<h1><%= @story.title %></h1>
		<% if @story.has_audio %>
		<audio src="http://s3.amazonaws.com/natarre.objects/<%= @story.token %>/<%= @story.token %>.mp3" controls></audio>
		<% end %>

		<p><%= @story.content.html_safe %></p>
		<% if @user %>
		<h2 class="comments-title">
			<%= @story.comments.size %> Comment<%= "s" if @story.comments.size > 1 || @story.comments.size == 0 %> | 
			<% if(@story.votes.size > 1 || @story.votes.size == 0 ) 
				string = "s" 
			end %>
			<% if @user %>
			<% f_class = "" %>
			<% f_class = "active" if !Vote.where(:user_id=>@user.id, :story_id => @story.id).empty? %>
			<% l_class = "" %>
			<% l_class = "active" if !List.where(:user_id=>@user.id, :story_id => @story.id).empty? %>
			<%= link_to @story.votes.size, votes_path+"/"+@story.id.to_s, :class => "favorites_link "+f_class %>
			<%= link_to @story.lists.size, lists_path+"/"+@story.id.to_s, :class => "lists_link "+l_class %>
			<% end %>
		</h2>
		<%= render "comment_form" %>
		<% end %>

		<% @story.comments.sort! do |b,a| a.created_at <=> b.created_at end %>
		<% @story.comments.each do |c| %>
		<p class="comment"><%= c.user.name %>, <%= c.created_at.strftime("%m-%d-%y %H:%M")  %> - <%= c.content %></p>
		<% end %>

	</div>
</div>