<%= render "layouts/header" %>
<div id="main-container">
	<div id="main" class="main main-content">
		<h1><%= @story.title %></h1>
		<p><%= @story.content %></p>
		<% if @user %>
		<h4>Add Comment</h4>
		<%= render "comment_form" %>
		<% @story.comments.sort! do |b,a| a.created_at <=> b.created_at end %>
		<% @story.comments.each do |c| %>
		<p><%= c.user.name %>, <%= c.created_at.strftime("%m-%d-%y %H:%M")  %> - <%= c.content %></p>
		<% end %>

		<% end %>
	</div>
</div>