<header id="main-header" class="main-header">
	<div id="login-stuff">
		<% if session[:user_id] %>
		<%= link_to "Logout", logout_path %>
		<%= link_to "Account", profile_path %>
		<% @u=User.where(:id => session[:user_id]).first %>
		<% if @u.fb_id %>
		<% a = '<img src="http://graph.facebook.com/'+@u.fb_id.to_s+'/picture" alt=""/>' if @u.fb_id %>
		<%= a.html_safe if @u.fb_id %>
		<% end %>
		<% else %>
		<%= link_to "Login", login_path %>
		<%= link_to "Register", register_path %>
		<% end %>
	</div>
	<div id="header-content" class="header-content">
		<nav id="main-nav" class="main-nav">

			<%= link_to "all stories", prompts_path %>
			<%= link_to "popular", popular_path %>
			<%= link_to "submit", new_story_path %>

		</nav>
		<div id="logo-container">
			<a href="/"><img src="/assets/logo.png" alt="Natarré"></a>
		</div>
		<div class="clear"></div>
	</article>
</header>