
<!DOCTYPE html>
<html>
<head>
	<title>Natarre</title>
	<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<script src="/assets/mediaelement-and-player.min.js"></script>
	<link rel="stylesheet" href="/assets/mediaelementplayer.min.css" />
	<%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

	<footer class="main-footer">Built by Team Middlebury College for Angelhack 2012. <%= link_to "Credits", credits_path %></footer>
	<script>
	// jQuery method
	$('audio').mediaelementplayer();
	</script>
	<div id="fb-root"></div>

</body>
</html>
